html {
	background: rgb(0,1,113);
	background: linear-gradient(90deg, rgba(0,1,113,1) 56%, rgba(1,4,215,1) 100%);
}

html .app, .strong {
	background: rgb(0,1,113);
	background: linear-gradient(90deg, rgba(0,1,113,1) 56%, rgba(1,4,215,1) 100%);
	text-align: center;
}

.heading {
    color: #FFFFFF;
    font: italic bold Georgia, Serif;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}

/* Search Bar */
input {
    border-radius: 25px;
    padding: 12px 20px;
    text-align: center;
}

input:focus::placeholder {
    color: white;
}

/*  Button  */
.button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:50px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	position:relative;
	top:1px;
}

/* Carousel */
.temp {
    position: relative;
	text-align: center;
	left: 100px;
    font-weight: bold;
    font-size: 9rem;
	color: white;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}

.high-low {
	position: relative;
	text-align: center;
	right: 150px;
	top: 125px;
    font-weight: bold;
    font-size: 24px;
	color: white;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}

.date {
	position: relative;
	text-align: center;
	top: 75px;
    font-weight: bold;
    font-size: 24px;
	color: white;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}

.time {
	position: relative;
	text-align:center;
    font-weight: bold;
    font-size: 9rem;
	color: white;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}


/* Footer  */
.footer {
	position: relative;
	text-align:center;
	top: 200px;
    font-weight: bold;
    font-size: 3rem;
	color: white;
    text-shadow: -2px 2px 0 #4D5FD6, -4px 4px 0 black;
}

.github:hover {
	color: #D3D3D3;
}

.linkedin:hover {
	color: #D3D3D3;
}

@media only screen and (max-width: 600px) {
	.footer {
		top: 10%;
	}
}